<% layout('layouts/boilerplate') %>
<main>
    <button class="header px-5" disabled data-aos="zoom-in">Videos</button>
    <!-- <section class="content mb-5 inputcontent search_sort-grid">
        <select class="form-select dropdown_select1 formgrid_form" aria-label="Default select example">
            <option selected hidden>Sort: <span class="formgrid_formhighlight"> ALL TOPICS</span></option>
            <option value="topic1">Topic 1</option>
            <option value="topic2">Topic 2</option>
            <option value="topic3">Topic 3</option>
          </select>
        <select class="form-select dropdown_select2 formgrid_form" aria-label="Default select example">
            <option selected>Sort: OLDEST</option>
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
          </select>
        <form class="d-flex search_formgrid" id="searchform_vid" role="search">
            <input type="text" id="formgrid_search" class="form-control formgrid_form" placeholder="Search videos"
                aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary formgrid_form" type="button" id="formgrid_searchbtn"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-search" viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg></button>
        </form>
    </section> -->
    <section class="content pb-3 mb-5 c-grid" data-aos="fade-left">
        <% for(let i=0;i<video_data.length;i++){ %>
            <div class="card feat_card">
                <iframe class="feat_cardcontent" src="<%=video_data[i][3]%>" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="card-title"><%=video_data[i][1]%></h5>
                        <p class="card-text"><%=video_data[i][0]%></p>
                        <p class="card-text"><%=video_data[i][2]%></p>
                    </div>
                    
                    <a href="<%=video_data[i][4]%>" target="_blank" class="btn feat_btn">Go to media</a>
                </div>
            </div>
        <% } %>  
    </section>
</main>
<script>
    window.top.document.title = "Resources";
  </script>